* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
body {
    background-color: #000;
    color: #ffeb3b;
    width: 100vw;
  }
header {
    width: 100%;
  }
  
  header h1 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    margin-left: 35%;
  }
  
  header nav {
    display: inline-block;
    vertical-align: middle;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0vw;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: inherit;
  }
  main{
    
  }
  #principal{
    padding: 20px;
    margin: auto;
    /*border: 1px solid red;*/  
    
  }
  
  .imagen{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30%;
    /*border:1px solid #000;*/  
    width: 10%;
    /*width: 40%;
    height: ;
    margin-left: ;
    margin: auto;*/

  }
  .imagen img{
    margin: auto;
  }
  .descripcion{
    margin-left: 35%;
  }
  #evento {
    display: inline-block;
    border-right: 1px solid rgb(21, 107, 86);
    width: 100%;
    /*justify-content: space-between;*/
  }
  .info{
    display: inline-block;
    border-right: 1px solid black;
    
    width: 30%;
    margin-left: 25%;
  }
 
.comprar{
  border: 1px solid rgb(25, 0, 255);
  display: inline-block;
  margin-left: 20%;
  
}



  

  @media (width <= 600px) {
    header h1, header nav {
      display: block;
      width: 100%;
      text-align: center;
    }
  
    #evento .info, #evento .comprar {
      display: block;
      width: 100%;
    }
  }
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #ffeb3b;
      color: #000;
    }
  }
  