body{
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;

}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 50px;
    
    font-family: 'Poppins', sans-serif;
}

.logo {
    font-size: 1.5em;
    font-weight: 700;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: salmon;
}
.car1 {
    background-color: white;
    
}
.car1 i {
    font-size: 40px;
    align-self: flex-end;
    margin-right: 7%;
    margin-bottom: 10px;
}

#contenedor {
    
    display: grid;
    height: 70vh;
    width: 70vw;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top:15vh ;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 10vh;
    
}
#contenedor  .car1{
    justify-content: space-evenly ;
    display: flex;
    flex-direction: column;
    /*text-align: center;
    align-items: center;*/
    h3,p{
        margin-left: 7%;
        margin-right: 6%;

    }
    i{
        align-self: self-end;
        margin-right: 7%;
    }
}


.footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}
@media(min-width: 1280px)
{
    #contenedor {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #contenedor > :nth-child(1) {
        border-top:7px solid salmon ;

        border-radius: 10px;
        grid-row: 2 / span 2;
    }

    #contenedor > :nth-child(2) {
        border-top:7px solid rgb(67, 156, 230) ;
        
        border-radius: 10px;

        grid-row: 1 / span 2;
    }

    #contenedor > :nth-child(3) {
        border-top:7px solid orange ;
        

        border-radius: 10px;

        grid-row: 2 / span 2;
    }

    #contenedor > :nth-child(4) {
        border-top:7px solid rgb(30, 101, 160) ;

        border-radius: 10px;

        grid-row: 3 / span 2;
    }
}


@media (max-width: 600px) {
    #contenedor {
        gap: 10px;
        grid-template-columns: 1fr;
    }
    .contenedor {
    gap: 20px;
    }
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }

}
