<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Prueba</title>
</head>
<body>
    <h1>Mi primera pagina estatica de la app blog en Django</h1>
    <br>
    <ul>
    {% for post in posts %}
        <li>
            {# Si en el modelo tuvieras resumen usar: {{ post.resumen }} #}
            <a href="{% url 'detalle_post' pk=post.pk %}"><strong>{{ post.titulo }}</strong> — {{ post.autor }}</a>
        </li>

    {% empty %}
        <li>No hay publicaciones todavía.</li>
    {% endfor %}
</ul>


</body>
</html>