
.top{
    display: flex;
}
header{
    border: 1px solid red;
    background-color: rgb(24, 24, 67);
    width: 30%;
    text-align: center;
}
nav{
    border: 1px solid blue;
    background-color: rgb(222, 60, 60);
    width: 70%;
    text-align: center;
}
.main-content{
    display: flex;
}

.main{
    border: 1px solid rgb(0, 0, 0);
}
.imagen{
    border: 1px solid green;
}
.extra{
    border: 1px solid rgb(163, 40, 172);

}
.banner{
    border: 1px solid rgb(212, 255, 0);
    background-color: yellow;
}