body {
    margin: 0;
    padding: 0;
    background-color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



#animacion-cielo {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #DBFEFE;
    animation: ciclo-cielo 10s linear infinite;
}

#agua {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%; 
    background: linear-gradient(to bottom, #006994, #00334e);
    z-index: 20; 
}

#animacion-cielo img {
    position: absolute;
}

[id^="nube"] {
    z-index: 10;
    left: -200px; 
}

#nube1 {
    top: 50px;
    width: 120px;
    animation: mover-nube 45s linear infinite;
    animation-delay: 0s;
}

#nube2 {
    top: 120px;
    width: 100px;
    animation: mover-nube 55s linear infinite;
    animation-delay: -2s; 
}

#nube3 {
    top: 80px;
    width: 140px;
    animation: mover-nube 50s linear infinite;
    animation-delay: -4s;
}

#nube4 {
    top: 180px;
    width: 90px;
    animation: mover-nube 40s linear infinite;
    animation-delay: -1s;
}

#sol, #luna {
    z-index: 5;
    width: 80px;
    top: 100%; 
    left: -15%;
}

#sol {
    animation: ruta-x 20s linear infinite, ruta-y 20s infinite;
}

#luna {
    animation: ruta-x 20s linear infinite, ruta-y 20s infinite;
    animation-delay: -5s; 
}

@keyframes mover-nube {
    from {
        left: -20%;
    }
    to {
        left: 120%;
    }
}



@keyframes ruta-x {
    0% { left: -15%; }
    50% { left: 115%; }
    100% { left: 115%; }
}

@keyframes ruta-y {
    0% { top: 100%; animation-timing-function: ease-out; }
    25% { top: 10%; animation-timing-function: ease-in; }
    50% { top: 100%; }
    100% { top: 100%; }
}

@keyframes ciclo-cielo {
    0% { background-color: #ff9a9e; } 
    25% { background-color: #DBFEFE; } 
    50% { background-color: #2c3e50; } 
    75% { background-color: #00112B; } 
    100% { background-color: #ff9a9e; } 
}