<html>
    <body>
        <p>Todas las entradas</p>
        <ul>
            {% for entrada in entradas %}
            
            <li><a href="{% url 'detalle_post' pk=entrada.pk%}">{{ entrada.titulo }} -- Click Aqui</a></li>
            {% endfor %}
            
        </ul>
        <br>
        <p>Todas las entradas del autor Daniel</p>
        <ul>
            {% for entrada in entradasAutor %}
            <li>{{ entrada.titulo }}</li>
            {% endfor %}

        </ul>
        <p>Entradas id=2</p>
        <ul>
            {% for entrada in entradasAutor %}
            <li>{{ entrada.id }}</li>
                {% endfor %}
            
        </ul>
    </body>
</html>