.cards{
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: rgb(224, 165, 137);
    width: 100%;
    height: 75vh;
}

.card{
    margin-top: 50px ;
    background-color: white ;
    border-radius: 1cm;
    width: 30%;
    height: 65%;
}
.card img{
    
    align-items: center;
    
    transition: transform 1s ease-in-out;
    border-radius: 1cm;
    margin-top: 25px;
    margin-left: 55px;


}
.card p{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;

}

.card img:hover {
    transform: rotate(15deg) scale(1.1);
}
